<div class="container">
  <div class="title">
    <h1>About Us</h1>
  </div>
  <p>u15210822@tuks.co.za</p>
  <div class="info">
    <ul>
      <li>Content that brings the most important aspects of a businesses together.</li>
      <li>Focused on you business needs and what your clients wants.</li>
      <li>We bring you the perfect solution to getting what you want and providing your clients with the content that will make them stick.</li>
      <li>Our diverse team comes together to captivate our clients. Each member shares the same drive and passion for the industry that shows in every design.</li>
    </ul>
  </div>
</div>
