body{
    background-color: #ddbf5f;
    overflow-y: hidden;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(25deg, #E0C56E 0%, #E0C56E 2%, #DFC369 4%, #DEC164 6%, #DDBF5F 8%, #DCBD5A 10%, #DBBB55 12%, #DAB950 14%, #DCBA4E 16%, #DDBB4B 18%,
                                                        #DDBB4B 20%, #DCBA4E 22%, #DAB950 24%, #DBBB55 26%, #DDBF5F 28%, #DEC164 30%, #DFC369 32%, #E0C56E 34%, #E0C56E 36%);
    font-size: 100%;
}

#panel{
    position: relative;
    width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    align-self: center;
}

#frontimg{
    width: 100%;
    height: auto;
    border-radius: 1em;
    animation: fadeINOpacity ease-in 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    filter: brightness(90%);
    box-shadow: 0 1em 1em dimgrey;
    z-index: 5;
}

#idxbtn{
    opacity: 0;
    animation: fadeINFull forwards 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    position: absolute;
    top:85%;
    left: 50%;
    width: auto;
    height: auto;
    padding: 0.6em;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: #000000;
    /*font-size: 0.5em;*/
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    background-image: repeating-linear-gradient(90deg, #E0C56E 0%, #E0C56E 10%, #DFC369 20%, #DEC164 30%, #DDBF5F 40%, #DCBD5A 50%, #DBBB55 60%, #DAB950 70%, #DCBA4E 80%, #DDBB4B 100%);
    box-shadow: 0.2em 0 0.2em dimgrey inset, -0.2em 0 0.2em dimgrey inset;
    z-index: 15;
}

#gldlines{
    position: absolute;
    top: -2.5%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    opacity: 0;
    animation: fadeINOpacity ease-in 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadeINOpacity{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes fadeINFull{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.m1a{
    position: relative;
    font-weight: 300;
    font-size: 2em;
    color: #1F1F1F;
    margin: 0 0.2em;
    padding: 0.2em;
}

#wrap{
    position: relative;
    display: inline-block;
}

.lines{
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    height: 0.1em;
    width: 100%;
    margin: auto auto;
    background-color: #1F1F1F;
    transform-origin: center;
    opacity: 0;
    color: #1F1F1F;
}

#mid{
    font-family: Baskerville, serif;
    font-weight: 400;
}

#logo{
    position: absolute;
    height: auto;
    width: 18%;
    z-index: 50;
    -webkit-filter: drop-shadow(1em 1em 1em grey);
    top:2%;
    left:2%;
}

.btnTxt{
    display: inline-block;
    opacity: 0;
    font-style: italic;
}

@media screen and (min-width: 0px) {
    body{font-size: 40%;}
    .m1a{font-size: 0.4em;}
    #frontimg{content: url("images/indexlong.jpg");}
    #gldlines{content: url("images/gldlineslong.gif");
    top:0;}

}

@media screen and (min-width: 300px) {
    body{font-size: 50%;}
    .m1a{font-size: 1em;}
    #frontimg{content: url("images/indexlong.jpg")}
    #gldlines{content: url("images/gldlineslong.gif");
    top:0;}
}

@media screen and (min-width: 450px) {
    body{font-size: 60%;}
    .m1a{font-size: 1.2em;}
    #frontimg{content: url("images/index.jpg")}
    #gldlines{content: url("images/gldlines.gif");
        top:-2%;}
}

@media screen and (min-width: 700px) {
    body{font-size: 70%;}
    .m1a{font-size: 1.5em;}
    #frontimg{content: url("images/index.jpg")}
    #gldlines{content: url("images/gldlines.gif");
        top:-2%;}
}
@media screen and (min-width: 1000px) {
    body{font-size: 100%;}
    .m1a{font-size: 2em;}
    #idxbtn{font-size: 100%;}
    #frontimg{content: url("images/index.jpg")}
    #gldlines{content: url("images/gldlines.gif");
        top:-2%;}
}
